html,



    body {
      background: black;
      font-family: "Avenir Light", Avenir, Calibri, Arial, sans-serif;
      font-size: 16px;
      line-height: 2em;
      color: white;
      text-align: center;

      /* center body to max width */
      margin: 0 auto;
      max-width: var(--maxwidth);
      height: 100%;
    }

    :root {
      --floatcolor: rgba(0, 0, 0, 0.4);
      --edgecolor: rgba(255, 255, 255, 0.4);
      --shadowcolor: rgba(0, 0, 0, 0.4);
      --titlesize: 20;
      --normalsize: 16;
      --maxwidth: 1250px;
      --swiper-theme-color: lightgray;
    }

    /* Background image */
    .parallax-bg {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 200%;
      max-width: var(--maxwidth);
      background-size: cover;
      background-position: center;
    }

    /* Images */
    #profilepic {
      display: block;
      margin: 0 auto;
      width: 20%;
      height: auto;
      max-width: 250px;
      max-height: 250px;
      border-radius: 30px;
      border: 2px solid;
      margin-top: 5em;
      margin-bottom: 3em;
    }
    .large-icon{
      max-height: 150px;
      /*max-width: 150px;*/
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .small-icon{
      height:2.5em;
      /*width:2.5em;*/
      padding-top: 5px;
      padding-bottom: 5px;
    }
    /* Alignments */
    .vcenter{ /* center contents vertically */
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .softicon{
      /*max-height: 150px;*/
      max-width: min(150px, 20%);
      /*padding-top: 15px;
      padding-bottom: 15px;*/
    }
    .centerbox {
      width: 100%;
      height: 100%; /*88%;*/

      /*Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .pin-bottom {
      position: absolute;
      bottom: 1em;
      width: 100%;
    }
    /* Containers */
    .floating-cloud{
      background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
      background: var(--floatcolor);
      box-shadow: 0 0 25px 25px var(--floatcolor);
      max-width: 700px;
      position: relative;
      left: 50%;
      top: auto;
      transform: translateX(-50%);
    }
    .horizontal-bar { /* A vertically centered horizontal bar */
      background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
      background: var(--floatcolor);
      /*min-height: 450px; /*50%;*/
      /* border-top: 4px solid var(--edgecolor); */
      /*  border-bottom: 4px solid var(--edgecolor); */
      max-height: 500px;
    }
    .drop-shadow {
      box-shadow: 8px 8px 10px 10px var(--shadowcolor);
    }

    /* Text styles */
    .title-text {
      font-family: Avenir, Calibri, Arial, sans-serif;
      font-size: var(--titlesize);
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      line-height: 2em;
    }

    .item-text {
      font-size: var(--normalsize);
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      line-height: 2em;
      max-width: 700px;
    }

    .emphasise-text {
      font-family: Avenir, Calibri, Arial, sans-serif;
      font-size: var(--titlesize);
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      line-height: 2em;
    } /*line-height: 32px;*/

    /* Links */
    a:link {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }

    a:visited {
      color: lightgray;
      background-color: transparent;
      text-decoration: none;
    }

    a:hover {
      color: 	#ffba00;
      background-color: transparent;
      text-decoration: underline;
    }

    /* Swipers */
    .swiper-container {
      max-width: 1400px;
      height: 100%;
    }
    .swiper-container-v {
      border-right: 4px solid #292F33;
      /*overflow: visible;*/
    }
    .swiper-container-h {
      width: 100%;
      height: 50%;
    }
    .swiper-pagination-v {
      background: #292F33;
      --swiper-theme-color: lightgray;
    }

    .swiper-pagination-h{
      padding-top: 50px;
      transform: translateY(50%);
      z-index: 0;
    }
    .swiper-pagination-bullet {
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      font-size: 14px;
      color: white;
      opacity: 1;
      background: var(--floatcolor);
      transition: transform .2s; /* Hover Animation */
      z-index: 0;
    }
    .swiper-pagination-bullet:hover {
      transform: scale(1.2); /* (125% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    /* Animations */
    .mousepop {
      transition: transform .2s;
    }
    .mousepop:hover {
      transform: scale(1.1); /* (125% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    /* Publications */
    .pubicon{
      max-height: 30vw;
      height: 200px;
      width: auto;
      resize: both;
      padding-top: 5px;
      padding-bottom: 5px;
      transition: transform .2s;
    }
    .pubicon:hover {
      transform: scale(2.5); /* (125% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      z-index: -1;
    }


    /* Contacts */
    .swiper-contacts{
      max-width: 600px;
      height: 450px;
      margin-bottom: 3em;
    }
    .contact-trp { /*Transparent (exterior) contacts box*/
      font-size: 18px;
      width: 100%; /* fill space */
      height: 100%;
    }
    .contact-opq { /*Transparent (interior) contacts box*/
      margin: 0;
      position: absolute;
      top: 60%;
      left: 50%;
      width: 85%;
      height: 80%
      height: auto;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background: #292F33;
      border-radius: 10px;
    }

    
