html,
    body {
      background: lightgray;
      font-family: "Avenir Light", Avenir, Calibri, Arial, sans-serif;
      font-size: 20px;
      line-height: 2em;
      color: black;
      text-align: center;
      overflow: hidden;
    }

    a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color:  black;
      background-color: transparent;
      text-decoration: underline;
    }
    .smalltext
    {
      font-size: 14px;
    }

    .vcenter{ /* center contents vertically */
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .hcenter{ /* center contents horizontally */
      position: absolute;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
                                  }

    .genesis {
      background-color: white;
      box-shadow: 15px 15px 15px 10px rgba(0, 0, 0, 0.2);

      /*Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    /* For text editing */
    .textedit {
      text-align: left;
    }

    /* For drag/drop *
